<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>学生管理系统</title>
</head>
<style>
    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
    }

    a {
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        color: blueviolet;
    }

    table {
        border: 1px solid #000;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    td, th {
        border: 1px solid #000;
    }

    #queryBox {
        height: 100%;
        margin: 0 auto;
    }

    #queryMethod {
        font-weight: bold;
    }

</style>
<body style="overflow: hidden;margin: 0">
<div id="app" style="overflow: hidden">
    <el-container style="height: 100vh;width: 100vw;">
        <el-header height="80px">
            <h1 style="margin-top: 0;font-size: 50px;">学生管理系统</h1>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <p style="margin-bottom: 50px;margin-top: 100px"><a th:href="@{/}">首页</a></p>
                <p style="margin-bottom: 50px"><a th:href="@{/to/query/student/page/1}">查询</a></p>
                <p style="margin-bottom: 50px"><a th:href="@{/to/add/student/page}">添加</a></p>
                <p style="margin-bottom: 50px"><a th:href="@{/to/add/major/page}">专业维护</a></p>
                <p style="margin-bottom: 50px"><a th:href="@{/to/add/address/page}">户籍维护</a></p>
                <p style="margin-bottom: 50px"><a th:href="@{/quit}">退出系统</a></p>
            </el-aside>
            <el-main>
                <div id="queryBox">
                    <div id="queryMethod" style="margin: 0;">
                        <h1 style="font-size: 25px;">模糊查询</h1>
                        <form th:action="@{/query/by/name/1}" method="post">
                            姓名：<input type="text" name="studentName" id="studentName" v-model="studentName">
                            <input type="submit" value="查询" @click="checkForm()">
                            <br>
                            <span style="color: red">{{studentNameError}}</span>
                        </form>
                    </div>
                    <div id="queryTable" style="margin-top: 10px">
                        <table>
                            <tr>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>生日</th>
                                <th>年级</th>
                                <th>学院</th>
                                <th>专业</th>
                                <th>手机</th>
                                <th>籍贯</th>
                                <th th:if="${session.studentNameFuzzy}!=null">修改</th>
                                <th th:if="${session.studentNameFuzzy}!=null">删除</th>
                            </tr>
                            <tbody th:if="${#lists.isEmpty(pageInfo.list)}">
                            <tr th:if="${session.studentNameFuzzy}==null">
                                <td colspan="9">暂时没有学生信息，请转至添加界面进行信息录入</td>
                            </tr>
                            <tr th:unless="${session.studentNameFuzzy}==null">
                                <td colspan="11">暂时没有学生信息，请转至添加界面进行信息录入</td>
                            </tr>
                            </tbody>
                            <tbody th:unless="${#lists.isEmpty(pageInfo.list)}">
                            <tr th:each="student:${pageInfo.list}">
                                <td th:text="${student.getStudentId()}"></td>
                                <td th:text="${student.getStudentName()}"></td>
                                <td th:text="${student.getStudentGender()}"></td>
                                <td th:text="${student.getStudentBirthday()}"></td>
                                <td th:text="${student.getStudentGrade()}"></td>
                                <td th:text="${student.getStudentCollege()}"></td>
                                <td th:text="${student.getStudentMajor()}"></td>
                                <td th:text="${student.getStudentPhone()}"></td>
                                <td th:text="${student.getStudentAddress()}"></td>
                                <td th:if="${session.studentNameFuzzy}!=null">
                                    <a th:href="@{/to/update/student/all/page/}+${student.getStudentId()}+@{/}+${pageInfo.pageNum}">修改</a>
                                </td>
                                <td th:if="${session.studentNameFuzzy}!=null">
                                    <a th:href="@{/delete/student/all/}+${student.getStudentId()}+@{/}+${pageInfo.pageNum}">删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr th:if="${session.studentNameFuzzy}!=null">
                                <td th:colspan="11">
                                    <span th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="@{/query/by/name/1}">首页</a>
                                        <a th:href="@{/query/by/name/}+${pageInfo.prePage}">上一页</a>
                                    </span>
                                    <span th:each="navigator : ${pageInfo.navigatepageNums}">
                                        <!-- th:if 判断当前标签是否是当前页 -->
                                        <!-- 如果不是当前页则显示超链接 -->
                                        <a th:if="${navigator != pageInfo.pageNum}"
                                           th:href="@{/query/by/name/}+${navigator}"
                                           th:text="'['+${navigator}+']'"></a>
                                        <!-- 如果是当前页则显示页码本身 -->
                                        <span th:if="${navigator == pageInfo.pageNum}"
                                              th:text="'['+${navigator}+']'"></span>
                                    </span>
                                    <span th:if="${pageInfo.hasNextPage}">
                                        <a th:href="@{/query/by/name/}+${pageInfo.nextPage}">下一页</a>
                                        <a th:href="@{/query/by/name/}+${pageInfo.pages}">最后一页</a>
                                    </span>
                                    <span th:text="${pageInfo.pageNum}+'/'+${pageInfo.pages}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </el-main>
        </el-container>
        <el-footer>
            <h2>Create By @AntonyCheng</h2>
        </el-footer>
    </el-container>
</div>
</body>
<script>
    let vue = new Vue({
        el: '#app',
        data: {
            studentName: "",
            studentNameError: ""
        },
        methods: {
            checkForm() {
                if (this.studentName === "") {
                    this.studentNameError = "姓名不能为空！"
                    event.preventDefault();
                }
            }
        }
    });
</script>
</html>